{% load qhmobile_extras %}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.1//ES"
        "http://www.w3.org/TR/xhtml-basic/xhtml-basic11.dtd">
<html>
<head>
    {% if is_ios %}
        <meta name = "viewport" content = "width = 320, initial-scale = 2.3, user-scalable = no">
    {% else %}
        <meta name="viewport" content="width=310" />
    {% endif %}
    <link rel="stylesheet" type="text/css" href="/static/veggiebook.css?00002">
    <title>{{ recipe.title.es }}</title>
</head>
<body>
<div id="recipe">
    <div  class="annotations">
        {% for annotation in annotations %}
            <div style="background: #{{ annotation.color }}">{{ annotation.text.es }}</div>
        {% endfor %}
    </div>

    <h1 class="title">{{ recipe.title.es }} </h1>

    <div class="fsection" style="background-image: url({{ recipe.defaultPhoto.photo.img300.url }});">
        <img  class="recipeImage" style="opacity: 0;" src="{{ recipe.defaultPhoto.photo.img300.url }}" />
    </div>

    <h1 class="sectionHeader">Ingredientes</h1>

    <ul class="section">
        {% for i in recipe.recipeingredient_set.all %}
            <li>{{ i.content.es }}</li>
        {% endfor %}
    </ul>

    <h1 class="sectionHeader">En Resumen</h1>
    <table class="section">
        <tr>
            <td class="heading">Tiempo de preparaci&oacute;n:</td><td>{{ recipe.timeToPrepare.es }}</td>
            <td class="heading">&iquest;Se puede hacer por adelantado?</td><td> {{ recipe.canBeMadeAhead.es }}</td>
        </tr>
        <tr>
            <td class="heading">Tiempo para cocinar:</td><td>{{ recipe.timeToCook.es }}</td>
            <td class="heading">&iquest;Se puede congelar?</td><td>{{ recipe.canBeFrozen.es }}</td>
        </tr>
        <tr>
            <td class="heading">Porciones:</td><td>{{ recipe.servings.es }}</td>
            <td class="heading">&iquest;Se puede guardar lo que sobre?</td><td>{{ recipe.goodForLeftovers.es }}</td>
        </tr>
    </table>

    <h1 class="sectionHeader">Instrucciones</h1>
    <ul class="section">
        {% for s in recipe.getStepAndNotesList %}
            <li>{{ s.content.es }}</li>
        {% endfor %}
    </ul>
    {% if recipe.recipephoto_set.count > 1 %}
    <h1 class="sectionHeader">Fotos</h1>
    {% for photo in recipe.recipephoto_set.all %}
        <div {% if forloop.first %}
             class="section"
             {% else %}
             class="lsection"
             {% endif %}
             style="background-image: url({{ photo.photo.img300.url }});">
        <img class="recipeImage" style="opacity: 0;" src="{{ photo.photo.img300.url }}" />
    </div>
    {% endfor %}
    {% endif %}
</div>
</body>
</html>


