{% load qhmobile_extras %}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.1//EN"
        "http://www.w3.org/TR/xhtml-basic/xhtml-basic11.dtd">
<html>
<head>
    {% if is_ios %}
        <meta name = "viewport" content = "width = 320, initial-scale = 2.3, user-scalable = no">
    {% else %}
        <meta name="viewport" content="width=310" />
    {% endif %}
    <link rel="stylesheet" type="text/css" href="/static/veggiebook.css?00002">
    <title>{{ secret.title.en }}</title>
</head>
<body>
<div id="recipe">
    <div  class="annotations">
        <div style="background: #{{ secret.category.color }}">{{ secret.category.title.en }}</div>
    </div>

    <h1 class="title">{{ secret.title.en }} </h1>

    <div class="fsection">
        <img  class="recipeImage" src="{{ secret.img300.url }}" />
        <p>{% autoescape off %}{{ secret.secret.en|linebreaksbr }}{% endautoescape %}</p>
    </div>



    <h1 class="sectionHeader">Why It Works</h1>

    <div class="section">
        <p>{% autoescape off %}{{ secret.whyItWorks.en|linebreaksbr}}{% endautoescape %}</p>
    </div>

    {% if not smode and secret.english_external_links.count > 0 %}
    <h1 class="sectionHeader">Additional Information</h1>
        <div class="section">

        {% for el in secret.english_external_links %}
            <p><a href="{{ el.url }}">{{ el.linkString.en }}</a></p>
        {% endfor %}
        </div>
    {% endif %}

</div>
</body>
</html>


