{% load qhmobile_extras %}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.1//EN"
        "http://www.w3.org/TR/xhtml-basic/xhtml-basic11.dtd">
<html>
<head>
    {% if is_ios %}
        <meta name = "viewport" content = "width = 320, initial-scale = 2.3, user-scalable = no">
    {% else %}
        <meta name="viewport" content="width=310" />
    {% endif %}
    <link rel="stylesheet" type="text/css" href="/static/veggiebook.css?00002">
    <title>{{ secret.title.es }}</title>
</head>
<body>
<div id="recipe">
    <div  class="annotations">
        <div style="background: #{{ secret.category.color }}">{{ secret.category.title.es }}</div>
    </div>
    <h1 class="title">{{ secret.title.es }} </h1>

    <div class="fsection">
        {% if secret.image_es %}
        <img  class="recipeImage" src="{{ secret.img300_es.url }}" />
        {% else %}
        <img  class="recipeImage" src="{{ secret.img300.url }}" />
        {% endif %}
        <p>{% autoescape off %}{{ secret.secret.es|linebreaksbr }}{% endautoescape %}</p>
    </div>



    <h1 class="sectionHeader">Porque Funciona</h1>

    <div class="section">
        <p>{% autoescape off %}{{ secret.whyItWorks.es|linebreaksbr}}{% endautoescape %}</p>
    </div>

    {% if not smode and secret.externallink_set.count > 0 %}
    <h1 class="sectionHeader">Informacíon Adicional</h1>
        <div class="section">

        {% for el in secret.externallink_set.all %}
            <p><a href="{{ el.url }}">{{ el.linkString.es }}</a>({{ el.get_language_display }})</p>
        {% endfor %}
        </div>
    {% endif %}
</div>
</body>
</html>


