html { 
    overflow-y: scroll; 
}

body {
    background-color: #ffffff;
    color: #336633;
}

table.recipetable {
    border: 1px solid;
    }

table.recipetable td {
    border: 1px solid;
    }

table.recipetable td.ingredients {
    vertical-align: top;
    }